
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-image: url('Imagenes/Dynamo_Arquitectura.jpg');
    font-size: 20px;
    text-shadow: 2px 2px 1px #ffffff;
    background-size: cover;
    background-position: center;
    height: 400px;
    color: #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:baseline;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
}

.container {
    padding: 20px;
}

.about {
    text-align: center;
    padding: 40px 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project {
    background-color: #f0f0f0;
    padding: 10px;
    width: 300px;
    text-align: center;
    border-radius: 8px;
}

.project img {
    width: 100%;
    border-radius: 8px;
}

.contact-form {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: none;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #00aaff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
