body{
    background-color: #ade7ff;

}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Establecer un ancho máximo para el contenido principal */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #fff;
}

/* Ajustar el ancho del formulario y sus campos de entrada */
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
}

.contact-form input,
.contact-form textarea {
    width: 90%;
    max-width: 100%;
    padding: 8px;
    margin: 10px auto;
    border-radius: 4px;
    border: none;
}

.contact-form button {
    width: auto; 
    padding: 10px 20px;
    background-color: #00aaff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.hero {
    position: relative;
    height: 400px;
    color: #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: baseline;
    overflow: hidden;
    font-size: 20px;
    text-shadow: 2px 2px 1px #ffffff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('Imagenes/Dynamo_Arquitectura.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.7; /* Ajusta este valor para cambiar la transparencia de la imagen */
    z-index: 1;
}

.hero h2 {
    position: relative;
    z-index: 2; /* Asegura que el texto esté delante de la imagen */
    font-size: 3em;
    margin: 0;
    color: #000000; /* Asegúrate de que el texto sea legible sobre la imagen */
}



.container {
    padding: 20px;
}

.about {
    text-align: center;
    padding: 40px 20px;
}

.center {
    text-align: center;
    justify-content: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project {
    background-color: #f0f0f0;
    padding: 10px;
    width: 300px;
    text-align: center;
    border-radius: 8px;
}

.project img {
    width: 100%;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.hidden {
    display: none;
}
